.main_container {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 10%;
  text-align: justify;
  width: 60%;
}

.main_YashVardhan {
  width: auto;
  background: linear-gradient(
    45deg,
    #6964de,
    #f4426c,
    #fbf2b1,
    #f4426c,
    #6964de
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  color: transparent;
  font-size: 400%;
  animation: gradientCycle 10s linear infinite;
}

@-webkit-keyframes gradientCycle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientCycle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  .main_container {
    margin-left: 10%;
    margin-top: 5%;
  }

  .main_YashVardhan {
    font-size: 200%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .main_container {
    margin-left: 10%;
    margin-top: 7%;
  }

  .main_YashVardhan {
    font-size: 300%;
  }
}
.main_labels_email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.main_labels {
  padding-top: 10%;
  display: flex;
  flex-direction: row;
}

.main_labels_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.main_labels_border {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.main_labels_border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  background: linear-gradient(160deg, #6964de, #fca6e9);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.main_labels_border_github {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.main_labels_border_github::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  background: linear-gradient(160deg, #d24074, #6518b4);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.main_experience {
  padding-top: 20%;
}

.main_experience_drops {
  display: flex;
  flex-direction: row;
}

.main_experience_drops_titles {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}

.main_experience_drops_titles_padding {
  margin-left: 10%;
  margin-top: -2%;
  width: 400px;
}

.main_experience_drops_titles_padding h5 {
  font-size: 20px;
}

.spacing {
  margin-right: 7px;
}

.silver-line {
  border: none;
  border-top: 2px solid silver;
  margin: 20px 0;
  margin-top: 10%;
}

.main_footer {
  margin-top: 5%;
}

.main_footer_email {
  color: #42c5f4;
}

@media (max-width: 768px) {
  .main_experience_drops_titles {
    display: flex;
    flex-direction: column;
  }
  .main_experience_drops_titles_padding {
    margin-top: 10px;
    margin-left: 0;
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
}

.active {
  background-color: #4747478e;
  color: white;
  border-radius: 12px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.inactive {
  background-color: transparent;
  color: white;
  border-radius: 12px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
